<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AriClinicContext" connectionString="server=mysql01.cp3mdlcpd2er.us-east-2.rds.amazonaws.com;user id=admin;password=Aritel2012;persist security info=True;database=ariclinic_frido"
      providerName="MySql.Data.MySqlClient" />
    <add name="AriCliReport.Properties.Settings.ariclinicreport"
      connectionString="server=mysql01.cp3mdlcpd2er.us-east-2.rds.amazonaws.com;user id=admin;password=Aritel2012;persist security info=True;database=ariclinic_frido"
      providerName="MySql.Data.MySqlClient" />
    <add name="AriCliReport.Properties.Settings.ariclinicfrido" connectionString="server=mysql01.cp3mdlcpd2er.us-east-2.rds.amazonaws.com;user id=admin;password=Aritel2012;persist security info=True;database=ariclinic_frido"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>